* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.btn {
  display: inline-block;
  height: 60px;
  margin: 30px 0;
  padding: 10px 15px;
  background-color: #5B5C5A;
  color: #fff;
  text-decoration: none;
}
.btn::after {
  content: "";
  display: table;
  clear: both;
}
.btn .btn-left {
  float: left;
  padding-right: 10px;
  border-right: 1px solid #fff;
}
.btn .btn-right {
  float: left;
  padding-left: 10px;
}
.btn .btn-right i {
  line-height: 35px;
  font-size: 24px;
}

header {
  width: 100%;
}

.header-top {
  width: 100%;
  height: 40px;
  background-color: #101010;
}
.header-top .wrapper {
  display: flex;
  justify-content: flex-end;
}
.header-top .wrapper ul {
  display: flex;
  height: 100%;
  line-height: 40px;
}
.header-top .wrapper ul li {
  height: 100%;
  margin-left: 20px;
}
.header-top .wrapper ul li a {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  color: #bbb;
  font-size: 12px;
}
.header-top .wrapper ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.header-top .wrapper ul li a i {
  margin-right: 10px;
  font-size: 14px;
  color: dodgerblue;
}

.header-bottom {
  width: 100%;
  height: 50px;
  background-color: #101010;
}
.header-bottom .wrapper {
  display: flex;
}
.header-bottom .wrapper ul {
  display: flex;
  line-height: 50px;
  height: 100%;
}
.header-bottom .wrapper ul li {
  height: 100%;
}
.header-bottom .wrapper ul li img {
  height: 25px;
  margin-right: 10px;
  vertical-align: sub;
}
.header-bottom .wrapper ul li a {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.header-bottom .wrapper ul li a:hover {
  color: #101010;
  background-color: #f1f1f1;
}
.header-bottom .wrapper ul li a i {
  margin-left: 5px;
  font-size: 8px;
  color: #bbb;
}

main {
  width: 100%;
}

.jumbotron {
  width: 100%;
  padding-top: 20px;
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron .wrapper {
  display: flex;
}
.jumbotron .wrapper .intro {
  width: 65%;
  padding-top: 20px;
  padding-left: 200px;
  color: #fff;
}
.jumbotron .wrapper .intro h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
.jumbotron .wrapper .intro h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.jumbotron .wrapper .intro li {
  line-height: 2;
}
.jumbotron .wrapper .intro li i {
  margin-right: 5px;
}
.jumbotron .wrapper .price {
  width: 35%;
  height: 200px;
  background-color: #101010;
}
