main {
    width: 100%;
}

// jumbotron
.jumbotron {
    width: 100%;
    height: 460px;
    padding-top: 20px;
    background: url("../img/hero-background.jpg");
    @include background;
    .wrapper {
        display: flex;
        height: 100%;
        .intro {
            width: 65%;
            padding-top: 20px;
            padding-left: 230px;
            color: #fff;
            h1 {
                font-size: 30px;
                margin-bottom: 15px;
                font-weight: 400;
            }
            h2 {
                font-size: 22px;
                margin-bottom: 15px;
                font-weight: 400;
            }
            li {
                line-height: 2;
                i {
                    margin-right: 5px;
                }
            }
        }
        .price-tab {
            position: relative;
            width: 35%;
            height: 100%;
            padding: 50px 20px;
            background-color: rgba(0, 0, 0, 0.8);
            img {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 80px;
            }
            h3 {
                font-size: 26px;
                font-weight: 400;
                margin-bottom: 10px;
                color: #fff;
            }
            p {
                color: $greyLink;
                margin-bottom: 15px;
            }
            .limited {
                margin-top: 40px;
                padding: 15px;
                background-color: $lightGrey;
                h4 {
                    margin-bottom: 8px;
                    font-size: 18px;
                    font-weight: 500;
                }
                p {
                    color: black;
                    font-size: 14px;
                    margin-bottom: 8px;
                }
                a {
                    text-decoration: none;
                    color: $blueColor;
                }
            }
        }
    }
}
// jumbotron

// subnav
.subnav {
    width: 100%;
    height: 55px;
    background-color: $subNavColor;
    text-transform: uppercase;
    ul {
        display: flex;
        height: 100%;
        line-height: 55px;
        li {
            height: 100%;
            .active {
                background-color: #fff;
                border-bottom: 2px solid black;
                pointer-events: none;
            }
            a {
                display: inline-block;
                height: 100%;
                padding: 0 15px;
                font-size: 18px;
                color: $navGrey;
                text-decoration: none;
                &:hover {
                    background-color: $navHover;
                }
            }
        }
    }
}
// subnav

// quick-start
.quick-start {
    width: 100%;
    padding-top: 100px;
    @include background;
    background-image: url("../img/overview-bg.jpg");
    text-align: center;
    color: #fff;
    .wrapper2 {
        h2 {
            @include sectionTitle;
        }
        p {
            @include sectionParagraph;
        }
        img {
            display: block;
            width: 100%;
        }
        a {
            text-decoration: none;
            color: #fff;
            span {
                display: inline-block;
                width: 35px;
                height: 35px;
                margin-right: 10px;
                margin-bottom: 50px;
                line-height: 33px;
                text-align: center;
                border: 1px solid #aaa;
                border-radius: 50%;
                i {
                    color: #aaa;
                }
            }
        }
    }
    
}
// quick-start

// slider
.slider {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
    text-align: center;
    .wrapper2 {
        h2 {
            @include sectionTitle;
        }
        p {
            @include sectionParagraph;
        }
        img {
            display: block;
            width: 100%;
        }
    }
}
// slider

// bg-image1
.bg-image1 {
    height: 650px;
    @include background;
    background-image: url("../img/image-bg-01.jpg");
    background-attachment: fixed;
}
// bg-image1

// specs
.specs {
    padding: 100px 0;
    background-color: $blackBg;
    color: #fff;
    text-align: center;
    .wrapper2 {
        h2 {
            @include sectionTitle;
        }
        p {
            @include sectionParagraph;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .wrapper {
        margin-top: 100px;
        .specs-row {
            display: flex;
            align-items: center;
            .item {
                width: 40%;
                padding: 0 15px;
                h3 {
                    font-size: 24px;
                    margin-bottom: 20px;
                    font-weight: 400;
                }
                p {
                    font-size: 18px;
                    line-height: 1.5;
                }
                img {
                    width: 100%;
                }
            }
            .left {
                text-align: left;
            }
            .right {
                text-align: right;
            }
            .large {
                width: 60%;
            }
            &:first-child {
                margin-bottom: 100px;
            }
        }
    }
}
// specs

// bg-image2
.bg-image2 {
    height: 650px;
    @include background;
    background-image: url("../img/image-bg-02.jpg");
    background-attachment: fixed;
}
// bg-image2

// tools
.tools {
    padding: 80px 0;
    text-align: center;
    h2 {
        @include sectionTitle;
        margin-bottom: 80px;
    }
    .wrapper3 {
        display: flex;
        justify-content: space-between;   
        .card {
            position: relative;
            width: calc((100% / 5) - 10px);
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                &:hover {
                    transform: scale(1.1);
                    transition: all .5s ease-in-out;
                }
            }
            h5 {
                position: absolute;
                bottom: 25px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 20px;
                font-weight: 400;
                color: #fff;
            }
        }
    }
    
}
// tools

// brushpacks
.brushpacks {
    padding: 80px 0;
    @include background;
    background-image: url("../img/brushpacks-bg.jpg");
    .wrapper {
        display: flex;
        justify-content: space-between;
        .tab {
            width: 50%;
            padding: 100px 30px;
            margin: 0 20px;
            background-color: #fff;
            text-align: center;
            h3 {
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: 400;
            }
            p {
                font-size: 18px;
                line-height: 1.5;
                a {
                    text-decoration: none;
                    color: dodgerblue;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
// brushpacks