main {
    width: 100%;
}

// jumbotron
.jumbotron {
    width: 100%;
    height: 460px;
    padding-top: 20px;
    background-color: #1D343C;
    // background-image: url("../img/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper {
        display: flex;
        height: 100%;
        .intro {
            width: 65%;
            padding-top: 20px;
            padding-left: 200px;
            color: #fff;
            h1 {
                font-size: 24px;
                margin-bottom: 15px;
            }
            h2 {
                font-size: 20px;
                margin-bottom: 15px;
            }
            li {
                line-height: 2;
                i {
                    margin-right: 5px;
                }
            }
        }
        .price-tab {
            position: relative;
            width: 35%;
            height: 100%;
            padding: 50px 20px;
            background-color: $headerColor;
            img {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 80px;
            }
            h3 {
                margin-bottom: 10px;
                color: #fff;
            }
            p {
                color: $greyLink;
                margin-bottom: 15px;
            }
            .limited {
                margin-top: 40px;
                padding: 15px;
                background-color: $lightGrey;
                h4 {
                    margin-bottom: 8px;
                }
                p {
                    color: black;
                    font-size: 14px;
                    margin-bottom: 8px;
                }
                a {
                    text-decoration: none;
                    color: $blueColor;
                }
            }
        }
    }
}
// jumbotron

// subnav
.subnav {
    width: 100%;
    height: 55px;
    background-color: $subNavColor;
    text-transform: uppercase;
    ul {
        display: flex;
        height: 100%;
        line-height: 55px;
        li {
            height: 100%;
            .active {
                background-color: #fff;
                border-bottom: 2px solid black;
                pointer-events: none;
            }
            a {
                display: inline-block;
                height: 100%;
                padding: 0 15px;
                font-size: 18px;
                color: $navGrey;
                text-decoration: none;
                &:hover {
                    background-color: $navHover;
                }
            }
        }
    }
}
// subnav