$headerColor: #101010;
$headerBottomHover: #f1f1f1;
$subNavColor: #E6E6E6;

$greyLink: #bbb;
$lightGrey: #F6F6F6;
$navGrey: #555;
$navHover: #eee;
$blueColor: #009CFF;
$blackBg: #222;
$footerTopColor: #ececec;
$footerBottomColor: #1e1e1e;
$footerLink: #999;

// social icons
$instagramBg: #E4405F;
$facebookBg: #3B5998;
$twitterBg: #1DA1F2;
$youtubeBg: #CD201F;
$pinterestBg: #BD081C;
$rssBg: #ff8d00;
